/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    //color: #173b6c;
    color: #7151A1;
    padding: 40px 0;
}

:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --primary-color: #007bff;
    /* Weitere Variablen */
    --navbar: #e2e2e2;
}

.dark-theme {
    --background-color: #121212;
    --text-color: #f5f5f5;
    --primary-color: #4dabf7;
    /* Weitere Variablen für den dunklen Modus */
    --navbar: #212020;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    .navbar {
        background-color: var(--navbar);
    }
}
